* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #3C467B;
  height: 100px;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

nav .element {
  max-width: 1200px;
  width: 100%;
}

nav .element ul {
  display: flex;
  justify-content: space-around;
}

nav div img {
  width: 80px;
  height: auto;
}

nav .element ul li {
  list-style: none;
}

nav .element ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.Kolom {
  padding: 50px;
  margin: 100px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

span {
  font-weight: bold;
}

.Kolom img {
  width: 20%;
  margin-right: 20px;
  margin-top: -200px;
  border-radius: 20px;
}

.nama {
  color: #004292;
  font-size: 2rem;
  margin-left: 250px;
}

.job {
  font-size: 22px;
  margin-left: 250px;
}

.garis {
  width: 100%;
  border-top: 3.5px solid #000000;
  opacity: 100%;
  margin: 10px 0;
  margin-left: 250px;
  width: 80%;
}

.bio {
  font-size: 1.5rem;
  margin: 10px 0;
  margin-left: 250px;
}

.sosmed {
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
  font-weight: 700;
  margin-left: 250px;
}