body {
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    /* overflow-x: hidden; */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 55px; 
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1; 
  gap: 40px; 
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #dcdcdc;
}

.judulrec {
    font-family: "Joan";
    text-align: center;
}

.font {
    font-family: "Joan";
    text-align: center;
}

.font h2 {
    
}

.container-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;      
    width: 100%;
}

.rect {
    margin: 0 auto;
    padding: 20px;
    background-color:#50589C;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 80%;
}